<div class="container">
    <div class="header-container">
        <p-button label="Cadastrar Novo" class="btn-cadastrar" (click)="abreFormulario()"></p-button>
        <div class="filtrar">
            <label>Pesquisar: </label>
            <input class="input-filtrar" placeholder="Digite o nome do usuario" type="text" pInputText (input)="filtrar($event)" />
        </div>
    </div>
    <div class="card">
        <p-toast />
        <p-table [value]="usuarioFilter" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
        <ng-template #header>
            <tr>
                <th style="width:20%">Nome</th>
                <th style="width:20%">Sobrenome</th>
                <th style="width:20%">Email</th>
                <th style="width:20%">Data De Nascimento</th>
                <th style="width:20%">Escolaridade</th>
                <th style="width:20%"></th>
            </tr>
        </ng-template>
        <ng-template #body let-usuario let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="usuario">
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input
                            pInputText type="text"
                            [(ngModel)]="usuario.nome" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{usuario.nome}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input
                            pInputText type="text"
                            [(ngModel)]="usuario.sobrenome"
                            required />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{usuario.sobrenome}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input
                            pInputText type="text"
                            [(ngModel)]="usuario.email"
                            required />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{usuario.email}}
                        </ng-template>
                    </p-cellEditor>
                </td> 
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-calendar [(ngModel)]="usuario.dataNascimento" required>
                            </p-calendar>
                        </ng-template>                    
                        <ng-template pTemplate="output">
                            {{usuario.dataNascimento | date:'dd/MM/yyyy' }}
                        </ng-template>
                    </p-cellEditor>
                </td> 
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-select
                            [options]="dropEscolaridade"
                            appendTo="body"
                            [(ngModel)]="usuario.escolaridadeid"
                            [style]="{'width':'100%'}" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            <p-tag
                            [value]="usuario.escolaridade.descricao" />
                        </ng-template>
                    </p-cellEditor>
                </td>       
                <td>
                    <div class="flex items-end justify-end gap-2">
                        <button                    
                        pButton
                        pRipple
                        type="button"
                        pInitEditableRow
                        icon="pi pi-pencil"
                        (click)="onRowEditInit(usuario)"
                        text
                        rounded
                        severity="secondary"
                        pTooltip="Editar"
                        ></button>
                        <button
                        *ngIf="editing"
                        pButton
                        pRipple
                        type="button"
                        pSaveEditableRow
                        icon="pi pi-check"
                        (click)="onRowEditSave(usuario)"
                        text
                        rounded
                        severity="secondary"
                        pTooltip="Salvar"
                        ></button>
                        <button
                        *ngIf="editing"
                        pButton
                        pRipple
                        type="button"
                        pCancelEditableRow
                        icon="pi pi-times"
                        (click)="onRowEditCancel(usuario, ri)"
                        text
                        rounded
                        severity="secondary"
                        pTooltip="Cancelar Edição"
                        ></button>
                        <button
                        *ngIf="!editing"                    
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-trash"
                        (click)="showDialog(usuario)"
                        text
                        rounded
                        severity="secondary"
                        pTooltip="Excluir"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>

<p-dialog header="Deseja Excluir o Usuário?" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <div class="btn-dialog">
        <p-button label="Não" severity="secondary" (click)="CancelarExclusao()" />
        <p-button label="Sim" severity="danger" (click)="ExcluirUsuario()" />
    </div>
</p-dialog>