.container{
    margin: 50px;
}

.btn-cadastrar{
    margin-bottom: 15px;
}

.p-ripple.p-button.p-component{
    margin-bottom: 55px;
    
}

.btn-dialog{
    display: flex;
    gap: 10px;
}

.header-container{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    flex-direction: row;
}
